/*****************************
	DÉCLARATION DES POLICES
 *****************************/

/* Police des titres */
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* Police des textes */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900,300italic,300);

/* Icones pour le footer */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* Police liens low_nav */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/*****************************
		  UTILITAIRES
 *****************************/
body #high_nav{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

.container {
	width: 1100px;
	margin: auto;
}

.clearfix {
	clear: both;
	display: block;
}


/*****************************
		LOW NAVIGATION
 *****************************/

/*** DESKTOP ***/
#low_nav_desktop{
	background-color: #FFF;
	overflow: hidden;
	border-bottom: 1px solid #D4C6C6;
}

#low_nav_desktop ul{
	width: 100%;
	display: block;
	margin: auto;
}

#low_nav_desktop ul li a{
	display: block;
	color: #1A1717;
	text-decoration: none;
	padding: 20px 2.83%;
	text-transform: uppercase;
	transform: rotate(0deg);
	float: left;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

#low_nav_desktop ul li:first-of-type a{
	border-left: 1px solid #D4C6C6;
}

#low_nav_desktop ul li:last-of-type a{
	border-right: 1px solid #D4C6C6;
}

#low_nav_desktop ul li:nth-child(1) a:hover{
	color: #BE27DA;
	border-bottom: 5px solid #BE27DA;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(2) a:hover{
	color: #7DD82D;
	border-bottom: 5px solid #7DD82D;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(3) a:hover{
	color: #1504FB;
	border-bottom: 5px solid #1504FB;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(4) a:hover{
	color: #FB6704;
	border-bottom: 5px solid #FB6704;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(5) a:hover{
	color: #E4E623;
	border-bottom: 5px solid #E4E623;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(6) a:hover{
	color: #31C813;
	border-bottom: 5px solid #31C813;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(7) a:hover{
	color: #16C7A4;
	border-bottom: 5px solid #16C7A4;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(8) a:hover{
	color: #F6FF00;
	border-bottom: 5px solid #F6FF00;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(9) a:hover{
	color: #FB0444;
	border-bottom: 5px solid #FB0444;
	padding-bottom: 15px;
	box-sizing: border-box;
}

#low_nav_desktop ul li:nth-child(10) a:hover{
	color: #FE2AD4;
	border-bottom: 5px solid #FE2AD4;
	padding-bottom: 15px;
	box-sizing: border-box;
}

@keyframes taihitienneQuiDanse{
	33%{ transform: rotate(2deg); }
	66%{ transform: rotate(-2deg); }
	100%{ transform: rotate(0deg); }
}

/*** MOBILE ***/
#low_nav_mobile{
	background-color: #E9EEEE;
}
#hamburger, #close_menu{
	display: block;
	text-align: center;
	padding: 4px 0 7px;
	border-bottom: 1px solid #FFF;
	display: none;
}

#hamburger span, #close_menu{
	font-family: sans-serif;
}

#cross{
	font-size: 18px;
}

#low_nav_mobile ul{
	display: none;
}

#low_nav_mobile ul li a{
	text-decoration: none;
	display: block;
	width: 100%;
	border-bottom: 1px solid #FFF;
	color: #000;
	padding: 5px;
}

#low_nav_mobile ul li a:focus, #low_nav_mobile ul li a:active{
	color: #1605FE;
}


/****************************
	SECTION ACTIVITY SHOP
 ****************************/

/*** Section new shop ***/
#activity_shop{
	color: #322F2F;
	padding-bottom: 50px;
	padding-top: 15px;
	font-family: 'Titillium Web', sans-serif;
	/* min-height:620px; */
}

/* bordure */

.bordure1{
	margin-top: 50px;
	border-bottom: 5px double #80C2BB;
}

.bordure1::after{
	clear: both;
	content:"";
	display: block;
}

.shop_discovery a{
	text-decoration: none;
	color: #FFF;
}

#activity_shop h3, #about_us h3 {
	font-family: 'Lobster', cursive;
	background-color:  white;
	font-size: 35px;
	font-weight: 700;
	width: 400px;
	margin: auto;
	padding: 13px;
	text-align: center;
	position: relative;
	top: -58px;
	border: 20px solid #FFF;
	color:#80C2BB;
}

#activity_shop h4{
	font-family: 'Lobster', cursive;
	color:#FFF;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#activity_shop article:first-of-type{
	margin-left: 0;
}

#activity_shop .container article:nth-of-type(2n){
	margin-left: 0;
}

/*** Article découverte boutique ***/
.shop_discovery{
	float: left;
	width: 33.33%;
	min-height: 410px;
}

.img_shop_discovery{
	background-position: center;
	background-size: cover;
	width: 85%;
	height: 200px;
	margin: auto;
}

.img_shop_discovery:hover{
	background-color:#80C2BB;
	opacity:0.5; 
}

.shop_title{
	text-align: center;
	font-size: 30px;
	padding: 15px 15px 0;
	max-width: 90%;
	margin: auto;
}

.shop_discovery p{
	padding: 30px 20px;
	font-size: 16px;
	text-align:justify;
	color: #8A8888;
	margin: auto;
}


/****************************
	        FOOTER
 ****************************/

/* Couleur de fond du footer */
footer{
	background-color:#DDD;
  	border-top:5px solid #80C2BB;
    padding: 20px 0;
    text-align: center;

}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
  transition: color .3s;
  transform: rotateY(0deg);
}

.social:hover {
  color:#80C2BB;
  cursor: pointer;
  animation: 1s rounding ease infinite;
  box-shadow: none;
}

@keyframes rounding{
	12.5%{ transform: rotateY(45deg);}
	25%  { transform: rotateY(90deg); }
	37.5%{ transform: rotateY(135deg); }
	50%  { transform: rotateY(180deg); }
	62.5%{ transform: rotateY(225deg); }
	75%	 { transform: rotateY(270deg); }
	87.5%{ transform: rotateY(315deg); }
	100% { transform: rotateY(360deg); }
}

.social {
  box-shadow: rgb(210, 210, 210) 1px 1px,
    rgb(210, 210, 210) 2px 2px,
    rgb(211, 211, 211) 3px 3px,
    rgb(211, 211, 211) 4px 4px,
    rgb(211, 211, 211) 5px 5px,
    rgb(212, 212, 212) 6px 6px,
    rgb(212, 212, 212) 7px 7px,
    rgb(212, 212, 212) 8px 8px,
    rgb(213, 213, 213) 9px 9px,
    rgb(213, 213, 213) 10px 10px,
    rgb(214, 214, 214) 11px 11px,
    rgb(214, 214, 214) 12px 12px,
    rgb(214, 214, 214) 13px 13px,
    rgb(215, 215, 215) 14px 14px,
    rgb(215, 215, 215) 15px 15px,
    rgb(215, 215, 215) 16px 16px,
    rgb(216, 216, 216) 17px 17px,
    rgb(216, 216, 216) 18px 18px,
    rgb(216, 216, 216) 19px 19px,
    rgb(217, 217, 217) 20px 20px,
    rgb(217, 217, 217) 21px 21px,
    rgb(218, 218, 218) 22px 22px,
    rgb(218, 218, 218) 23px 23px,
    rgb(218, 218, 218) 24px 24px,
    rgb(219, 219, 219) 25px 25px,
    rgb(219, 219, 219) 26px 26px,
    rgb(219, 219, 219) 27px 27px,
    rgb(220, 220, 220) 28px 28px,
    rgb(220, 220, 220) 29px 29px,
    rgb(221, 221, 221) 30px 30px;
   text-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(227, 227, 227) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(228, 228, 228) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(229, 229, 229) 6px 6px,
    rgb(230, 230, 230) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(231, 231, 231) 9px 9px,
    rgb(232, 232, 232) 10px 10px,
    rgb(232, 232, 232) 11px 11px,
    rgb(233, 233, 233) 12px 12px,
    rgb(233, 233, 233) 13px 13px,
    rgb(234, 234, 234) 14px 14px,
    rgb(235, 235, 235) 15px 15px,
    rgb(235, 235, 235) 16px 16px,
    rgb(236, 236, 236) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px;
}

/* Copyright */

footer p{
	text-align:center;
	color:#80C2BB;
	font-weight:bold;
	padding: 30px 20px 0;
}

/*******************
	 RESPONSIVE
 *******************/

/** Supérieur à 1200px **/
@media (min-width: 1200px){

	/** Utilitaires **/
	.container{
		width: 1100px;
	}
}

/** Supérieur à 992px et inférieur à 1200px **/
@media (min-width: 992px) and (max-width: 1200px){

	/** Utilitaires **/
	.container, .container{
		width: 900px;
	}

	/** New shops **/
	#activity_shop img{
		width: 240px;
		height: 170px;
	}

	/** Links category **/
	#low_nav_desktop ul li a{
		padding: 10px 3%;
	}

	.at-grid{
		transform: scale(0.8);
	}
}

/** Supérieur à 768px et inférieur à 992px **/
@media (min-width: 700px) and (max-width: 992px){

	/** Utilitaires **/
	.container{
		width: 650px;
	}

	/*** Low navigation ***/
	#low_nav_desktop{
		display: none;
	}

	/*** Low navigation mobile ***/
	#hamburger{
		display: block;
	}

	#home #low_nav_mobile{
		display: block;
		font-size: 16px;
		font-family: 'Titillium Web', sans-serif;
	}

	/*** Titre avec bordure séparation ***/
	#activity_shop h3{
		border: 0px solid #FFF;
		top: -60px;
		margin-top: 25px;
	}

	/*** Description shops discovery ***/
	.shop_discovery p{
		padding: 30px 20px;
	}

	.shop_discovery{
		width: 50%;
		min-height: 460px;
	}

	#activity_shop img{
		width: 240px;
		height: 170px;
	}
}

/*** Inférieur à 768px ***/
@media (max-width: 700px){

	/** Utilitaires **/
	.container{
		width: 90%;
	}

	/*** Low navigation ***/
	#low_nav_desktop{
		display: none;
	}

	/*** Low navigation mobile ***/
	#hamburger{
		display: block;
	}

	#low_nav_mobile{
		display: block;
	}

	/*** Titre avec bordure séparation ***/
	#activity_shop h3{
		border: 0px solid #FFF;
		font-size: 25px;
		top: -15px;
		width: 250px;
		padding-top: 20px;
	}

	#activity_shop article:nth-child(5), #activity_shop article:nth-child(6){
		display: none;
	}

	/*** Description shops discovery ***/
	.shop_discovery p{
		padding: 30px 40px;
	}

	.shop_discovery{
		width: 100%;
	}

	.shop_title{
		font-size: 25px;
	}

	#activity_shop img{
		width: 240px;
		height: 150px;
	}

	/*** Social network ***/
	.social{
		transform: scale(0.6);
		margin: 0 -10px -15px;
	}

	/*** Footer ***/
	footer{
		padding: 0;
	}

	footer p{
		padding: 25px 0 10px;
	}
}

@media (max-width: 550px){

	.title_most_viewed{
		font-size: 22px;
		width: 130px;
		padding: 30px 10px 15px 20px;
	}

	.description_most_viewed{
		font-size: 10px;
		width: 170px;
		padding: 30px 10px 15px 20px;
	}

	#slider_container{
		left: -620px;
	}

	#slider ol li a{
		margin-top: -30px;
	}
}
