/* Police des titres */
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* Police des textes */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

#contact_us #hire {
  font-size: 62.5%;
  font-weight: 300;
  color: #B6B6B6;
  font-family: 'Titillium Web', sans-serif;
}

#contact_us #contact {
  background: #efefef;
    margin: 0px auto 120px;
  text-align: center;
  padding: 0 0 50px 0px;
  width: 80%;
  font-size: 2em;
  max-width: 1100px;
  border-top: 15px solid #313A3D;
}

#contact_us #contact h2 {
  margin-bottom: 40px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  margin:50px 0px;
}

#contact_us form {
  width: 58.33333%;
  margin: 0 auto;
}

#contact_us form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

#contact_us form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: #80C2BB;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  color:white;
}

#contact_us form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

#contact_us form .field input[type="text"],
#contact_us form .field textarea {
  border: none;
  margin-bottom: 20px;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: black;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

#contact_us form .field input[type="text"]#msg,
#contact_us form .field textarea#msg {
  height: 50px;
  margin-bottom: 20px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

#contact_us form .field input[type="text"]:focus, #contact_us form .field input[type="text"].focused,
#contact_us form .field textarea:focus,
#contact_us form .field textarea.focused {
  outline: none;
}

#contact_us form .field input[type="text"]:focus#msg, #contact_us form .field input[type="text"].focused#msg,
#contact_us form .field textarea:focus#msg,
#contact_us form .field textarea.focused#msg {
  padding-bottom: 200px;
}

#contact_us form .field input[type="text"]:focus + label, #contact_us form .field input[type="text"].focused + label,
#contact_us form .field textarea:focus + label,
#contact_us form .field textarea.focused + label {
  width: 18%;
  background: #D1D2D2;
  color: #313A3D;
}

#contact_us form .field input[type="text"].focused + label,
#contact_us form .field textarea.focused + label {
  color: #FD9638;
}

#contact_us form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}

#contact_us form input[type="submit"], #contact_us #back_home {
  background:#313A3D;
  color: white;
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  margin-top:50px;
  margin-bottom:30px;
}

#contact_us #back_home {
    display: block;
    width: 50%;
    margin: 120px auto 0;
    text-decoration: none;
    text-align: center;
}

#contact_us form input[type="submit"]:hover, #contact_us #back_home:hover {
  background: #80C2BB;
  color: white;
}

#contact_us form input[type="submit"]:focus, #contact_us #back_home:focus {
  outline: none;
  background: #D1D2D2;
}

#contact_us form input[type="submit"]:active, #contact_us #back_home:active {
  outline: none;
  background: #D1D2D2;
}

#contact_us .errors {
  font-size: 18px;
  color: #1D8C7E;
}


/* Si les infos ont été insérées en BDD */
#contact_us .contact_success {
  font-size:20px;
  color:#80C2BB;
  padding: 20px 0 100px 0px;
}

@media (max-width: 992px) and (min-width: 768px){

    #contact_us #back_home span {
        display: none;
    }

    #contact_us #contact {
    font-size: 1.2em;
  }

    #contact_us #contact h1 {
    font-size: 5em;
  }
}

@media (max-width: 768px) and (min-width: 500px){

    #contact_us #contact {
    font-size: 1.2em;
    width: 95%;
  }

    #contact_us #back_home span {
        display: none;
    }

    #contact_us #back_home {
        width: 70%;
    }

}

@media (max-width: 500px){

    #contact_us #contact {
    width: 100%;
    font-size: 1.2em;
    border-top: none;
    margin: 0 auto;
    border-bottom: 5px solid #80C2BB;
    padding-bottom: 0;
    padding-top: 2px;
  }

    #contact_us #back_home span {
        display: none;
    }

    #contact_us #back_home {
        font-size: 1em;
        width: 100%;
    }

    #contact_us form {
    width: 90%;
  }

    #contact_us form .field input[type="text"], form .field textarea {
    width: 100%;
  }
}