/* Police des titres */
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* Police des textes */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

#subscribe_newsletter #hire{
  font-size: 62.5%;
  font-weight: 300;
  color: #B6B6B6;
  font-family: 'Titillium Web', sans-serif;
}

#subscribe_newsletter #news_gender{
  font-size: 20px;
}

#subscribe_newsletter #newsletter{
  background: #efefef;
  margin: 0px auto 120px;
  text-align: center;
  padding: 0 0 50px 0px;
  width: 80%;
  font-size: 2em;
  max-width: 1100px;
  border-top: 15px solid #313A3D;
}

#subscribe_newsletter #newsletter h1 {
  margin-bottom: 40px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  margin:50px 0px;
}

#subscribe_newsletter form {
  width: 58.33333%;
  margin: 0 auto;
}
#subscribe_newsletter form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
#subscribe_newsletter form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: #80C2BB;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  color:white;
}

#subscribe_newsletter form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}


#subscribe_newsletter form .field input[type="text"],
#subscribe_newsletter form .field textarea {
  border: none;
  margin-bottom: 20px;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0 ;
  padding-left: 19.5%;
  color: black;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}
#subscribe_newsletter form .field input[type="text"]#msg,
#subscribe_newsletter form .field textarea#msg {
  height: 18px;
  margin-bottom: 20px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#subscribe_newsletter #news_gender{
  margin-top: 30px;
}
#subscribe_newsletter form .field input[type="text"]:focus, #subscribe_newsletter form .field input[type="text"].focused,
#subscribe_newsletter form .field textarea:focus,
#subscribe_newsletter form .field textarea.focused {
  outline: none;
}
#subscribe_newsletter form .field input[type="text"]:focus#msg, #subscribe_newsletter form .field input[type="text"].focused#msg,
#subscribe_newsletter form .field textarea:focus#msg,
#subscribe_newsletter form .field textarea.focused#msg {
  padding-bottom: 50px;
}
#subscribe_newsletter form .field input[type="text"]:focus + label, #subscribe_newsletter form .field input[type="text"].focused + label,
#subscribe_newsletter form .field textarea:focus + label,
#subscribe_newsletter form .field textarea.focused + label {
  width: 18%;
  background: #D1D2D2;
  color: #313A3D;
}
#subscribe_newsletter form .field input[type="text"].focused + label,
#subscribe_newsletter form .field textarea.focused + label {
  color: #FD9638;
}
#subscribe_newsletter form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}
#subscribe_newsletter form input[type="submit"], #subscribe_newsletter #back_home{
  background:#313A3D;
  color: white;
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  margin-top:50px;
  margin-bottom:30px;
}

#subscribe_newsletter #back_home{
  display: block;
  width: 50%;
  margin: 120px auto 0;
  text-decoration: none;
  text-align: center;
}
#subscribe_newsletter form input[type="submit"]:hover, #subscribe_newsletter #back_home:hover{
  background: #80C2BB;
  color: white;
}
#subscribe_newsletter form input[type="submit"]:focus, #subscribe_newsletter #back_home:focus{
  outline: none;
  background: #D1D2D2;
}

#subscribe_newsletter form input[type="submit"]:active, #subscribe_newsletter #back_home:active{
  outline: none;
  background: #D1D2D2;
}

#subscribe_newsletter .errors{
  font-size: 18px;
  color: #1D8C7E;
}

/* Si les infos ont été insérées en BDD */
#subscribe_newsletter .news_success{
  font-size:20px;
  color:#80C2BB;
  padding: 20px 0 100px 0px;
}

/*** Espace radio 'homme / femme' ***/
#male{
  margin-right: 50px;
}

@media (max-width: 992px) and (min-width: 768px){

  #subscribe_newsletter #newsletter{
    font-size: 1.2em;
  }

  #subscribe_newsletter #newsletter h1{
    font-size: 5em;
  }
}

@media (max-width: 992px) and (min-width: 768px){
  #subscribe_newsletter #back_home span{
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 500px){

  #subscribe_newsletter #newsletter{
    font-size: 1.2em;
    width: 95%;
  }

  #subscribe_newsletter #back_home span{
    display: none;
  }

  #subscribe_newsletter #back_home{
    width: 70%;
  }

  #subscribe_newsletter #hire{
    background-color: #efefef;
  }
}

@media (max-width: 500px){
  
  #subscribe_newsletter #newsletter{
    width: 100%;
    font-size: 1.2em;
    border-top: none;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 2px;
  }

  #subscribe_newsletter #back_home span{
    display: none;
  }

  #subscribe_newsletter #back_home{
    font-size: 1em;
    width: 100%;
  }

  #subscribe_newsletter form{
    width: 90%;
  }

  #subscribe_newsletter form .field input[type="text"], form .field textarea{
    width: 100%;
  }
}