@import 'reset.css';

.container {
  width: 1200px;
  margin: auto; }

.clearfix {
  clear: both;
  display: block; }


/* ---------------------NAVIGATION--------------------- */
nav {
	background-color:  rgba(85, 173, 183, 0.84);
	padding: 28px 0;
    right: 0;
    left: 0;
}

nav h1 {
	float: left;
	font-family: CherrySwash;
	color:  #FFF;
	font-size: 40px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
}

nav ul {
	float: right;
}

nav ul li {
	float: left;
}

nav ul li a {
	font-family: HelveticaLT;
	color: #dce3e4;
	font-size: 18px;
	line-height: 25px;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
}
nav ul li::after {
	color: #dce3e4;
	content: "/";
}
nav ul li:last-child::after {
	content: "";
}

/* ---------------------HEADER--------------------- */